*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Roboto, 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}
ul, ol {
  margin: 10px 0;
  padding-left: 35px;           /* perfect spacing */
  list-style-position: outside; /* bullet stays outside box */
}
    
body{

   color: #333333;
   background-color: #ffffff;
   
   
}
#home .container{
    background-color: #333;
    padding: 15px 10px;
    display:flex; 
    justify-content: space-around;
    gap: 2%;
    border-top: 8px solid white;
    border-right: 8px solid white;
    border-left: 8px solid white;


}

.description{
    display: block;
}
.profile img{
    border:8px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;      /* crop the image */
    object-position: top;    /* which position need while crop */
    
}
header .container h1{
    font-size: 70px;
    font-weight :400;
    letter-spacing: 1px;
    color:#ffffff;
    
}

header .container p{
    font-size: 35px;
    font-weight :300; 
    color:#f0f0f0;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

.contact table{
   border-collapse: separate;
   border-spacing: 10px;
}
.contact img{
    max-width: 80px;
    height: 80px;
    border-radius: 5px;
}

.contact img:hover{
     transform: scale(1.1);
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333333db;
    border-left: 8px solid white;
    border-right: 8px solid white;
 
   
}
nav a{
    color: #f0f0f0;
    text-decoration: none;  /* remove default link underline */
    font-size: large;
    padding: 15px 15px;
   

}
nav a:hover {
    color:white;        /* changes text color on hover */
    text-decoration: underline;  /* adds underline */
    background-color:color-mix(in srgb, #333333db 80%, white 20%) ;      /*used to convert one color to lite (fade) color of that color */
    border-radius: 5px;    
}
main {
    padding: 5px 10px 5px;
}


main h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-bottom: 3px solid #333;
    color:#1a1a1a;
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin-top: 10px;
    
}

#about p{
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: justify;
    margin: 15px;
    text-align: justify;

}

#skills h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 1px;
    color:#1a1a1a;

    background-color:#f0f0f0;
    border: 3px solid #333;
    margin: 2%;
    width: 25%;
    max-width: 50%;
    padding: 7px;
    clip-path: polygon(
        0% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        0% 100%,
        0% 50%
    );

}

#skills .container-fluid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2% 0 2% 7%;
    justify-content: flex-start;
}

/* Image styling */
#skills .container-fluid img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 2px solid #333;
    border-radius: 15px;
    transition: transform 0.3s;
    padding: 10px 0px;
    
}

#skills .container-fluid img:hover {
    transform: scale(1.1);
}

/* Text under image */
#skills .container-fluid figcaption {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}


/*Education */
.education{
    display:grid;
    grid-template-columns: 1fr 1fr 4fr;
    padding: 3%;
    
    
}
.middle{
    display: flex;
   flex-direction: row;
}
    
/* Year styling */
#education time{
    font-size: 20px;
    font-weight: 600; 
}
#education   h4{
    font-size: 20px;
    font-weight: 600; 
}
#education p{
    font-size: 18px;
   
}

/* Timeline vertical line */
.time-line {
    
    width: 20px;
    height: 70px;
    background: #3333338e;            /* blue fill */
    clip-path: polygon(
    0% 0%,        /* 1 — left-top */
    50% 30%,       /* 2 — top-mid */
    100% 0%,      /* 3 — right-top */
    100% 80%,     /* 4 — right-bottom */
    50% 100%,     /* 5 — bottom-mid (V cut) */
    0% 80%        /* 6 — left-bottom */
    );
    border: 3px solid #3333338e;       /* dark outline */
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}
/* Timeline dot */
.icon img{
    width: 48px;
}


/*experience */
.professional-exp{
    padding: 2%;
}

#professional-exp .container-fluid{
    display: flex;
    gap: 30px;
}
#professional-exp ol li {
    font-size: 25px;
    font-weight: 500;
}
#professional-exp ol h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
   
}
#professional-exp ul li{
    font-size: 19px;
    font-weight: normal;
}
#professional-exp a{
   font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    font-weight:500;
}
#professional-exp img{
    width: 60px;
    
}

/*Training and course */

.course{
    padding: 2%;
}

#course ol li {
    font-size: 25px;
    font-weight: 500;
}
#course ol h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
   
}
#course ul li{
    font-size: 19px;
    font-weight: normal;
}
/* Projects */

.projects{
    padding: 1%;
}
#projects ol li {
    font-size: 25px;
    font-weight: 500;
}
#projects ol h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
   
}
#projects ul li{
    font-size: 19px;
    font-weight: normal;
}

#projects button{
    border-radius: 8px;
    padding: 10px 5px;
    background-color: #f0f0f0;
    color: black;
    border: 3px solid #333;
    height: auto;
    width: 200px;
    text-align:center;
    
}
#projects button:hover{
    color: white;
    background-color: #333;
}

#projects .container-fluid{
    display: flex;
    justify-content:space-between;
    gap: 30px;
}

#projects img{
    width: 60px;
    
}
.certifications{
    padding: 2%;
}
#certifications a{
    text-decoration: none;
    color: black;
    
}
#certifications a:hover{
    color: blue;
}

#certifications .certificate li{
 list-style-type: none;
 background-image: url(./images/certificate.png);
 background-size: 30px 25px;
 background-repeat: no-repeat;
 padding-right: 10px;
 padding-left: 35px;  
}


#contact form
{
    background-color: color-mix(in srgb, #333 20%, white 80%);
    width: fit-content;
    border-radius: 10px;
    padding: 30px 20px;

    margin: 2% auto;
}

#contact form .form-group{
display: flex;
flex-direction:row;

}

#contact form label{
    min-width: 150px;
    min-height: 50px;   
}


#contact form input ,textarea{
    min-width: 100px;
    max-height: fit-content;
    padding: 8px 12px;
}
#contact form button{
    background-color: #333;
    color: white;
    padding: 15px 10px;
    border-radius: 10px;
}
#contact form .reset-submit{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
   
}
#footer nav {
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #f0f0f0;
    background-color: #333333db;
    padding: 10px 15px;
    margin: 30px 0;

}





@media(max-width:768px){


header .container-fluid{
  
    padding: 20px 10px;
   
}

.profile img{
    border:4px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;      /* crop the imagge */
    object-position: top;    /* which position need while crop */

}

header .container-fluid h1{
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight :100;
    letter-spacing: 1px;
    color:#ffffff;
    
}

header .container-fluid p{
    font-size: 14px;
    font-weight: 200px; 
    color:#f0f0f0;
    line-height: 1.4;
    letter-spacing: 0.5;
}
    
    nav{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 5px 2px;

}

    nav a{
        font-size:smaller;
        padding: 2px 5px;
    }

.contact img{
    max-width: 40px;
    height: 40px;
    border-radius: 5px;
}

 #skills h3 {
    font-size: 17px;
    width: 100%;
    padding: 7px;
    clip-path: polygon(
        0% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        0% 100%,
        0% 50%
    );

}

    #skills .container-fluid {
        margin:0 auto 20px auto;
        gap: 15px;
        margin: 2% 0 2% 7%;
    }

    #skills .container-fluid img {
        width: 90px;
        height: 90px;
    }
#footer nav {
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #f0f0f0;
    background-color: #333333db;
    padding: 10px 15px;
    margin: 30px 0;

}



}
