*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 19px;
    font-family:sans-serif ;
}
    
body{
    font-family:sans-serif;
    background-color: #ffffff;
    color:#1a1a1a ;
    border: 10px solid white;

}

header .container-fluid{
    background-color: #333;
    padding: 30px 15px;
   
}
header .row{
    display: flex; 
    align-items: center;
   
}
header img{
    border:8px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;      /* crop the imagge */
    object-position: top;    /* which position need while crop */
    margin-left: 50px;
}

header .contact img{
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    filter: hue-rotate();
}



header .container-fluid h1{
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight :200px;
    letter-spacing: 1px;
    color:#ffffff;
    
}

header .container-fluid p{
    font-size: 35px;
    font-weight :200px; 
    color:#f0f0f0;
    line-height: 1.4;
    letter-spacing: 0.5;
}

nav{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #333333db;
    padding: 20px 10px;

}
nav a{
    color: #f0f0f0;
    text-decoration: none;  /* remove default link underline */
    font-size: large;
    padding: 10px 20px;

}
nav a:hover {
    color:blue;        /* changes text color on hover */
    text-decoration: underline;  /* adds underline */
    
}
main {
    
    margin-top: 10px;
    margin-bottom: 10px;
}


main h2{
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-bottom: 3px solid #333;
    color:#1a1a1a;
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin: 30px 0;
    
}

#about p{
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333333;
    max-width: 99%;
    margin: 15px;
    text-align: justify;

}
#skills {
    padding: 20px 0;
}

#skills .container-fluid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    max-width: 90%;
    margin: 0 0 40px 20%;
    justify-content: flex-start;
}
#skills h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 1px;
    color:#1a1a1a;
    background-color:#f0f0f0;
    padding: 10px 15px;
    max-width: 90%;
    width: 30rem;

    /* Heading aligned to left */
    margin: 30px auto 20px 10%;
    border: 3px solid #333;
    height: auto;
    min-height: 70px;
    clip-path: polygon(
        0% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        0% 100%,
        0% 50%
    );
    
}

/* Each item */
#skills .container-fluid figure {
    margin: 0;
    text-align: center;
    flex: 0 1 120px;
}

/* Image styling */
#skills .container-fluid img {
    width: 150px;
    height: 150px;
    
    object-fit: contain;
    border: 3px solid #333;
    border-radius: 15px;
    transition: transform 0.3s;
    padding: 10px 0px;
    
}

#skills .container-fluid img:hover {
    transform: scale(1.1);
}

/* Text under image */
#skills .container-fluid figcaption {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}


/*Education */

#education .container-fluid .rows{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;   
    align-items: center;
    padding: 2px 0;
    margin: 0 5%;
}

/* Year styling */
#education .container-fluid time{
    font-size: 20px;
    font-weight: 600; 
}
#education .container-fluid  h4{
    font-size: 20px;
    font-weight: 600; 
}
#education .container-fluid p{
    font-size: 18px;
   
}

/* Timeline vertical line */
.time-line {
    
    width: 20px;
    height: 70px;
    background: #3333338e;            /* blue fill */
    clip-path: polygon(
    0% 0%,        /* 1 — left-top */
    50% 30%,       /* 2 — top-mid */
    100% 0%,      /* 3 — right-top */
    100% 80%,     /* 4 — right-bottom */
    50% 100%,     /* 5 — bottom-mid (V cut) */
    0% 80%        /* 6 — left-bottom */
    );
    border: 3px solid#3333338e;       /* dark outline */
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}
/* Timeline dot */
.icon img{
    width: 48px;
    top: 5px;
}
.middle {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Space between date and timeline */
    margin-right: 20px;
}
.details{
    flex-grow: 1;
}

/*experience */

#professional-exp .container-fluid{
    display: flex;
    gap:10px;
}
#professional-exp ol li {
    font-size :35px; 
    font-weight:500;
}
#professional-exp ol h3 {
    font-size :35px; 
    font-weight:500;
}
#professional-exp ul li{
    font-size: 19px;
    font-weight: normal;
}
#professional-exp a{
    font-size: 30px;
    color: #1a1a1a;
}
#professional-exp img{
    width: 60px;
    top: 5px;
}

/* Projects */

#projects li {
    font-size :35px; 
    font-weight:500;
}
#pojects ol h3 {
    font-size :35px; 
    font-weight:500;
}
#projects ul li{
    font-size: 19px;
    font-weight: normal;
}

#projects button{
    border-radius: 8px;
    padding: 10px 5px;
    background-color: #f0f0f0;
    color: black;
    border: 3px solid #333;
    height: auto;
    width: 200px;
    text-align:center;
    
}
#projects button:hover{
    color: white;
    background-color: #333;
}

#projects .container-fluid{
    display: flex;
    justify-content:space-between;
    gap: 30px;
}

#projects img{
    width: 60px;
    top: 5px;
}

#certifications a{
    text-decoration: none;
    color: black;
    
}
#certifications a:hover{
    color: blue;
}

#certifications .certificate li{
 list-style-type: none;
 background-image: url(./images/certificate.png);
 background-size: 30px 25px;
 background-repeat: no-repeat;
 padding-right: 10px;
 padding-left: 35px;  
}


#contact form
{
    background-color: #f0f0f0;
    width: fit-content;
    border-radius: 10px;
    padding: 30px 20px;
}

#contact form .form-group{
display: flex;
flex-direction:row;

}

#contact form label{
    min-width: 150px;
    min-height: 50px;   
}


#contact form input{
    min-width: 100px;
    max-height: fit-content;
    
}
#contact form button{
    background-color: #333;
    color: white;
    padding: 15px 10px;
    border-radius: 10px;
}
#contact form .reset-submit{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
   
}
#footer nav {
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #f0f0f0;
    background-color: #333333db;
    padding: 10px 15px;
    margin: 30px 0;

}





@media(max-width:768px){
    body{

    border: 5px solid white;

}

header .container-fluid{
  
    padding: 20px 10px;
   
}

header img{
    border:4px solid white;
    border-radius: 25%;
    width: 100px;
    height: 100px;
    object-fit: cover;      /* crop the imagge */
    object-position: top;    /* which position need while crop */
    margin-left: 25px;
}

header .container-fluid h1{
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight :100;
    letter-spacing: 1px;
    color:#ffffff;
    
}

header .container-fluid p{
    font-size: 14px;
    font-weight: 200px; 
    color:#f0f0f0;
    line-height: 1.4;
    letter-spacing: 0.5;
}
    
    nav{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 5px 2px;

}

    nav a{
        font-size:smaller;
        padding: 2px 5px;
    }
 #skills h3 {
        margin:10px auto;
        width: 80%;
        height: auto;
        font-size: 20px;
    }

    #skills .container-fluid {
        margin:0 auto 20px auto;
        gap: 15px;
    }

    #skills .container-fluid img {
        width: 90px;
        height: 90px;
    }


}
